---
layout: pages
title:  Códigos - Flávio Alexandre Micheletti
---

    {% include menu.html menu_ativo="Códigos" %}

    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h1>Códigos pessoais!</h1>
            <p>Se vc quiser olhar apenas um, olhe este aqui <a href="https://github.com/flaviomicheletti/acs">acs</a>.</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/devfuria" role="button">https://github.com/flaviomicheletti</a></p>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="list-group">
          {% for repositorio in site.data.github-flavio %}
            <a href="{{ repositorio.html_url }}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ repositorio.name }}</h4>
              <p class="">{{ repositorio.description }}</p>
            </a>
          {% endfor %}
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>


    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h1>Códigos do site devfuria!</h1>
            <p>Se vc quiser olhar apenas um, olhe este aqui <a href="https://github.com/devfuria/devfuria.com.br.conteudo">devfuria.com.br.conteudo</a>.</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/devfuria" role="button">https://github.com/devfuria</a></p>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="list-group">
          {% for repositorio in site.data.github-devfuria %}
            <a href="{{ repositorio.html_url }}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ repositorio.name }}</h4>
              <p class="">{{ repositorio.description }}</p>
            </a>
          {% endfor %}
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>