---
layout: pages
title:  Códigos - Flávio Alexandre Micheletti
---
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Meu Portifólio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="/projetos/">Projetos</a></li>
            <li class="active"><a href="/codigos/">Códigos</a></li>
            <li class=""><a href="/biografia/">Biografia</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h1>Flávio Micheletti</h1>
            <p>Códigos pessoais!</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/devfuria" role="button">https://github.com/flaviomicheletti</a></p>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="list-group">
          {% for repositorio in site.data.github-flavio %}
            <a href="{{ repositorio.html_url }}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ repositorio.name }}</h4>
              <p class="">{{ repositorio.description }}</p>
            </a>
          {% endfor %}
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>


    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h1>Devfuria</h1>
            <p>Códigos do site devfuria!</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/devfuria" role="button">https://github.com/devfuria</a></p>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="list-group">
          {% for repositorio in site.data.github-devfuria %}
            <a href="{{ repositorio.html_url }}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ repositorio.name }}</h4>
              <p class="">{{ repositorio.description }}</p>
            </a>
          {% endfor %}
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>