<!DOCTYPE html>
<html lang="pt">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Flávio Alexandre Micheletti" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>


<div class="site">
  <div class="title">
    <a href="/">Flávio Alexandre Micheletti</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <a href="http://www.devfuria.com.br/">www.devfuria.com.br/</a><br />
        <a href="http://www.devfuria.com.br/flavio-alexandre-micheletti.html">Portifólio</a><br />
        <a href="https://github.com/flaviomicheletti">GitHub</a>
      </p>
      <p>Colei na cara larga o tema do site do <a href="http://tom.preston-werner.com/">Tom Preston</a>, desculpa aí, não foi preguiça não, foi falta de tempo mesmo.</p>      
    </div>
  </div>
</div>

<a href="https://github.com/flaviomicheletti/flaviomicheletti.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>



<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
